// reset
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    font-family: 'Mulish', sans-serif;

    &:focus {
        outline: 0;
    }
}

body {
    background-color: #EBEEF2;
    
    h6 {
      font-size: 42px;
      line-height: 35px;
    
    }
    .component {
        width: 437px;
        height: 447px;
        margin: 52px;
        padding: 60px;
        border-radius: 5px;
        background-color: #fff;
        h3 {
          height: 45px;
          font-size: 28px;
          font-weight: bold;

        }
        .money {
            margin-bottom: 62px;
            font-size: 22px;
            section {
                margin-bottom: 33px;
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
        }
        .button {
            width: 348px;
            height: 61px;
            border-radius: 5px;
            background: #171922;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: #fff;
            }

            &:hover {
                background-color: currentColor;
            }

            
        }
    }
}
